pipeline/Copy_CSVFilesOnly_Pipeline.json
{
	"name": "Copy_CSVFilesOnly_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata for files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRC_Paramtr1_CSV",
						"type": "DatasetReference",
						"parameters": {
							"ds_filesys_RJ": {
								"value": "@pipeline().parameters.FileSystem_RJ",
								"type": "Expression"
							},
							"ds_Direc_RJ": {
								"value": "@pipeline().parameters.Directory_RJ",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter with endswith function",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter with split function",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@split(item().name,'.')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter with Contains function",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata for files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_CopyFilteredCSVFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter with Contains function",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter with Contains function').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyDataTrueIf",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@item().count",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "CopyData Filtered CSV Files",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SRC_Paramtr_CSV",
												"type": "DatasetReference",
												"parameters": {
													"ds_fs_RJ": {
														"value": "@pipeline().parameters.FileSystem_RJ",
														"type": "Expression"
													},
													"ds_dir_RJ": {
														"value": "@pipeline().parameters.Directory_RJ",
														"type": "Expression"
													},
													"ds_filenm_RJ": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SINK_paramtr_CSV",
												"type": "DatasetReference",
												"parameters": {
													"ds_fs_RJ": {
														"value": "@pipeline().parameters.FileSystem_RJ",
														"type": "Expression"
													},
													"ds_dir_RJ": {
														"value": "@pipeline().parameters.OutputDirectory_RJ",
														"type": "Expression"
													},
													"ds_filenme_RJ": {
														"value": "@pipeline().parameters.Filename_RJ",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Wait2",
										"type": "Wait",
										"dependsOn": [
											{
												"activity": "CopyData Filtered CSV Files",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileSystem_RJ": {
				"type": "string",
				"defaultValue": "project"
			},
			"Directory_RJ": {
				"type": "string",
				"defaultValue": "Output"
			},
			"Filename_RJ": {
				"type": "string"
			},
			"OutputDirectory_RJ": {
				"type": "string",
				"defaultValue": "Archieve"
			}
		},
		"folder": {
			"name": "Rajan_Practice"
		},
		"annotations": []
	}
}