pipeline/Copy_CSVFilesOnly_Pipeline.json
{
	"name": "Copy_CSVFilesOnly_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata for files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRC_Paramtr_CSV",
						"type": "DatasetReference",
						"parameters": {
							"ds_fs_RJ": {
								"value": "@pipeline().parameters.FileSystem_RJ",
								"type": "Expression"
							},
							"ds_dir_RJ": {
								"value": "@pipeline().parameters.Directory_RJ",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata for files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata for files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileSystem_RJ": {
				"type": "string"
			},
			"Directory_RJ": {
				"type": "string"
			},
			"Filename_RJ": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Rajan_Practice"
		},
		"annotations": []
	}
}