pipeline/Getmetadata.json
{
	"name": "Getmetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Meta Data",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter Color",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Meta Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Meta Data').output.structure",
						"type": "Expression"
					},
					"condition": {
						"value": "@activity('Get Meta Data').output.columnCount",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "VTR_Test"
		},
		"annotations": []
	}
}